* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #000000;
}

#loader-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#loader {
  width: 600px; /* Set the width and height according to your image dimensions */
  height: 600px;
}

a {
  color: #121212;
  text-decoration: none;
}

.navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  z-index: 5;
  padding: 5px 0px;
}
.navbar-container .navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  justify-content: space-around;
  border-radius: 8px;
}

.navbar-item {
  padding: 5px;
  box-shadow: 10px 10px 25px #4d4a4a;
  border-radius: 8px;
  width: 180px;
  text-align: center;
}

.navbar .navbar-item-link {
  margin: 0 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s ease;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  text-align: center;
}

.navbar-item:hover {
  box-shadow: 10px 10px 25px #770505;
}

.social-icon {
  position: static;
  display: flex;
  flex-direction: column;
  right: 5px;
}

.social-icon i {
  padding: 10px;
  width: 80px;
}

.background-wrap {
  color: azure;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info h1 {
  font-size: 60px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.plot {
  font-size: 20px;
}

.hero-container {
  min-width: 90%;
  min-height: 850px;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/109/156/original/damon.png?1704359163);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  margin: 80px auto;
  margin-top: 40px;
  position: relative;
  box-shadow: -10px 15px 25px #646260;
  transition: all 1s ease-in-out;
}

.hero-container:hover {
  box-shadow: -10px 10px 25px #661616;
  transform: scale(0.8);
}

.buttons {
  display: flex;
  flex-direction: row;
}

.watch-now,
.read-more {
  padding: 10px 18px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  margin: 15px auto;
}

.info {
  align-self: center;
  margin-left: 650px;
  max-width: 500px;
  z-index: 2;
  position: absolute;
}

.second-container {
  width: 94vw;
  min-height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  overflow: hidden;
  background-color: #000000;
  height: auto;
  margin: 0 auto;
}

.second-container img {
  width: 92vw;
  height: 85vh;
  box-shadow: -10px 10px 25px #eeecec;
}

.background {
  position: absolute;
  background-repeat: no-repeat;
  width: 93vw;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  object-fit: cover;
  overflow: hidden;
}

.scroll-bar {
  max-width: 900px;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 50px;
}

.info-2 {
  flex: 1;
  padding: 5rem;
  font-size: 1.3rem;
  color: white;
  opacity: 1;
  transform: translateX(0);
  transition: all 1s ease-out;
  text-align: justify;
}

.info-2 h2 {
  font-size: 3vw;
  text-align: center;
  font-family: "Black Ops One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.info-2 h3 {
  font-size: 1.5vw;
  text-align: center;
  font-family: "roboto", sans-serif;
  font-weight: 100;
}

.scroll-bar h3 {
  color: #661616;
  font-weight: 400;
  font-size: 24px;
  font-family: "Black Ops One", Arial, Helvetica, sans-serif;
}

.info-2 p {
  font-size: 22px;
  font-family: "roboto", sans-serif;
  font-weight: 100;
}

.watch-button {
  display: flex;
  font-size: 30px;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  margin: 25px auto;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.photos {
  flex: 1;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: translateX(0);
  transition: all 3s ease-in-out;
}

.photos img {
  width: 500px;
  align-items: center;
  height: auto;
  object-fit: cover;
  box-shadow: none;
}

.nina-img {
  padding-top: 10px;
  opacity: 0.7;
}

.push-right {
  opacity: 0;
  transform: translateX(50px);
}

.push-left {
  opacity: 0;
  transform: translateX(-50px);
}

.cast {
  padding: 40px;
  text-align: center;
  font-size: 8rem;
  color: white;
  font-family: "Black Ops One", Arial;
}

.swiper {
  width: 100%;
}

.card-content:hover {
  box-shadow: -10px 5px 25px #661616;
}

.third-container {
  position: relative;
  width: 450px;
  width: 90%;
  display: flex;
  align-items: center;
  margin: 25px auto;
  position: relative;
  height: 600px;
  background-color: #000000;
  padding: 30px;
}

.card-content {
  border: none;
  width: 300px;
  height: 450px;
  border-radius: 8px;
  align-items: center;
  background-color: #161616;
  opacity: 0.6;
  box-shadow: -10px 5px 25px #cfc9c9;
}

section .card .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  padding: 3px;
  background: #3b3b3b;
  box-shadow: 0px -1px 4px 2px rgba(0, 0, 0, 0.25);
  margin: 25px auto;
}
section .card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #fff;
}

.card .name-profession {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.name-profession .name {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}
.name-profession .profession {
  font-size: 20px;
  font-weight: 500;
  color: #726e6e;
}

section .card .about {
  display: flex;
  text-align: center;
  color: #444;
  margin-top: 45px;
  margin-bottom: 5px;
}
.card {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.swiper-pagination {
  position: absolute;
  top: 510px;
}
.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  border-radius: 25px;
  background: #e634d7;
}
.swiper-button-next,
.swiper-button-prev {
  opacity: 0.7;
  color: #a5141c;
  transition: all 0.3s ease;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: 1;
  color: #a5141c;
}

.custom-shape-divider-top-1704328300 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704328300 svg {
  position: relative;
  display: block;
  width: calc(110% + 1.3px);
  height: 255px;
}

.custom-shape-divider-top-1704328300 .shape-fill {
  fill: #7e0707;
}

.fourth-container {
  color: #fff;
  font-size: 40px;
  position: relative;
  background-color: #a39d9d;
  height: auto;
}

.gallery-heading {
  text-align: center;
  font-size: 5rem;
  color: white;
  font-family: "Black Ops One", Arial;
}

.gallery-wrapper {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  font-family: Tahoma, sans-serif;
}

.gallery {
  display: flex;
  width: 750px;
  height: 500px;
  overflow: hidden;
  box-shadow: -10px 10px 25px #000;
  border-radius: 8px;
}

.gallery img {
  width: 750px;
  height: 500px;
  object-fit: cover;
  border-radius: 8px;
}

.dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.dots a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  opacity: 0.8;
  transition: opacity ease-in-out 250ms;
  cursor: pointer;
}

.dots a:hover {
  opacity: 1;
}

.caption {
  font-size: 14px;
  color: black;
}

.scary-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.scary-container img {
  width: 200px;
  height: 400px;
  margin: 0 auto;
}

#scrollImage {
  transition: transform 0.5s ease-in-out;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.words {
  overflow: hidden;
  padding: 60px 0;
  background: #a5a3a3;
  white-space: nowrap;
  position: relative;
}

.words:before,
.words:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.words:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.words:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.words:hover .words-slide {
  animation-play-state: paused;
}

.words-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.words-slide img {
  width: 1250px;
  height: auto;
  margin: 0 40px;
}
.grid-2-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 22px;
  background: #ebe8e8;
}

footer h3 {
  font-size: 22px;
  text-align: center;
  font-family: Roboto, sans-serif;
  color: rgba(41, 13, 13, 0.479);
}

footer p {
  text-align: center;
  margin: 30px;
  color: rgba(41, 13, 13, 0.479);
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.social-links-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social-links-2 a {
  margin: 0 5px;
  color: #0e270d;
  background: transparent;
  padding: 8px 10px;
  font-size: 30px;
  border-radius: 50%;
}

.social-links-2 a:hover {
  color: white;
  background: #1b8648;
}

.grid {
  display: flex;
  justify-content: center;
}

.background-img {
  background-image: url("/Binge-Worthy-TV-Show-Challenge-2/media/mansion-gif.gif");
  height: 100vh;
  width: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;

  /* Needed to position the navbar */
  position: relative;
}

.character-flexbox {
  padding-top: 250px;
  padding-bottom: 45px;
  transition: transform 2s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame-1:hover {
  box-shadow: 10px 10px 25px #520a0a;
  transform: rotate(-5deg);
  cursor: pointer;
}

.hide,
.hide-2,
.hide-3 {
  display: none;
  width: 150px;
  font-family: "Black Ops One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.frame-1:hover + .hide {
  display: block;
  color: rgb(241, 237, 237);
  background-color: black;
  opacity: 0.7;
}

.frame-2:hover + .hide-2 {
  display: block;
  color: rgb(241, 237, 237);
  background-color: black;
  opacity: 0.7;
}

.frame-3:hover + .hide-3 {
  display: block;
  color: rgb(241, 237, 237);
  background-color: black;
  opacity: 0.7;
}

.frame-1,
.frame-3 {
  width: 140px;
  height: 170px;
}

.frame-1 {
  margin-top: 135px;
  margin-right: 100px;
}

.frame-2 {
  width: 200px;
  height: 220px;
  margin-right: 43px;
  margin-top: 5px;
}

.frame-3 {
  margin-top: 135px;
  margin-right: 40px;
}

.frame-2:hover {
  box-shadow: 10px 10px 25px #520a0a;
  transform: rotate(-5deg);
  cursor: pointer;
}

.frame-3:hover {
  box-shadow: 10px 10px 25px #520a0a;
  transform: rotate(-5deg);
  cursor: pointer;
}

.info-text {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2b2b;
  color: rgb(163, 163, 163);
  opacity: 0.8;
  font-family: "Black Ops One", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  box-shadow: 10px 10px 25px #520a0a;
}

.info-text h2 {
  font-weight: bold;
  color: white;
}

.recommendations {
  width: 100%;
  height: auto;
  background-color: #a39d9d;
  padding: 35px;
}

.inner-recommendations-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.recommendations h2 {
  text-align: center;
  font-size: 4rem;
  color: white;
  font-family: "Black Ops One", Arial;
}

.container-recommend {
  width: 250px;
  height: 500px;
  border: none;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #c0bebe;
  padding: 15px;
  box-shadow: 10px 10px 25px #222222;
  margin: 15px;
}

.img-recommend {
  padding: 10px;
  text-align: center;
}

.img-recommend img {
  width: 200px;
  height: 250px;
  color: #000;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 10px 10px 25px #222222;
}

.more-info h3 {
  text-transform: uppercase;
}

.more-info {
  background-color: #b3b2b2;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  font-family: "roboto", Arial;
  height: 200px;
  box-shadow: 10px 10px 25px #222222;
}

.fa-brands {
  font-size: 30px;
}

@media (max-width: 600px) {
  body,
  html {
    overflow-x: hidden;
  }

  .body {
    width: 100%;
    box-sizing: border-box;
  }

  .navbar {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
  }

  .navbar-item {
    margin-right: 5px;
    padding: 3% 0%;
    width: 70px;
  }

  .navbar .navbar-item-link {
    font-size: 12px;
    margin: 0 auto;
    margin-right: 15px;
  }

  .navbar-item:hover {
    box-shadow: 10px 10px 25px #770505;
  }

  .social-icon {
    right: 0px;
    position: static;
  }

  .social-icon i {
    padding-top: 10px;
    width: 33px;
    color: white;
  }

  .hero-container {
    width: 93%;
    min-height: 250px;
    margin: 10px auto;
    margin-top: 25px;
  }

  .hero-container:hover {
    box-shadow: 10px 10px 15px #661616;
    transform: scale(0.8);
  }

  .background-wrap {
    margin-left: 10px;
  }

  .info {
    margin-left: 60px;
    max-width: 200px;
  }

  .info h1 {
    font-size: 40px;
  }

  .info-2 h2 {
    font-size: 22px;
  }

  .info-2 h3 {
    font-size: 18px;
  }

  .buttons {
    width: 40px;
    height: 30px;
  }

  .watch-now,
  .read-more {
    margin: 10px;
    padding: 5px 20px;
  }

  .detail,
  .plot,
  .creator-title,
  .creator-link,
  .star,
  .rate-container {
    display: none;
  }

  .name,
  .profession {
    font-size: 1.1rem;
  }

  .second-container img {
    width: 600px;
    height: auto;
    box-shadow: none;
  }

  .background img {
    width: 150%;
    transform: rotate(-90deg);
  }

  .nina-img {
    width: 80%;
    opacity: 0.7;
  }

  .info-2,
  .photos {
    padding: 2rem;
  }

  .info-2 p {
    font-size: 18px;
    font-family: "roboto", sans-serif;
  }

  .watch-button {
    font-size: 20px;
  }

  .photos img {
    width: 100%;
  }

  .cast {
    font-size: 1.3rem;
    padding: 5px;
  }

  .swiper {
    width: 100%;
  }

  .card-content {
    width: 90px;
    height: 120px;
    margin-top: 10px;
  }

  section .card .image img {
    height: 80px;
    width: 80px;
    border-radius: 0px;
  }

  section .card .image {
    margin: 5px auto;
    background: none;
    height: 80px;
  }

  .name-profession {
    margin-top: 5px;
    color: white;
  }

  .name-profession .name {
    font-size: 8px;
  }

  .name-profession .profession {
    font-size: 12px;
  }

  .third-container {
    width: 100%;
    height: 60px;
    padding: 2rem;
    margin-top: 4rem;
  }

  .fourth-container {
    font-size: 20px;
  }

  .flex-container,
  .images-slider {
    width: 100%;
  }

  .flex-container iframe {
    width: 100%;
  }

  .images-slider img {
    width: 100%;
  }

  .gallery-wrapper {
    min-height: 30vh;
  }

  .gallery {
    width: 400px;
    height: 250px;
  }

  .gallery img {
    width: 400px;
    height: 250px;
  }

  .background-img {
    width: 100%;
    height: auto;
  }

  .character-flexbox {
    padding-top: 200px;
  }

  .frame-1 {
    margin-top: 67px;
    margin-right: 70px;
    width: 80px;
    height: 120px;
  }

  .frame-2 {
    width: 100px;
    height: 150px;
    margin-right: 50px;
  }

  .frame-3 {
    margin-top: 67px;
    margin-right: 20px;
    width: 80px;
    height: 120px;
  }

  .info-text {
    width: 400px;
    flex-wrap: wrap;
  }

  .fa-brands {
    font-size: 20px;
  }

  footer iframe {
    width: 255px;
  }
}
